@app-orgen:rgb(226,160,150);
@app-red:rgb(235,90,80);
@slider-width:19.5%;
@home-width:100%-@slider-width*2-2%;


.app-button{
    background-color: rgb(83,175,245);
    height: 2rem;
    border-radius: 4px;
    width: 4rem;
    font-size: 14px;
    color: rgb(40,40,40);
}